{{#> page name="about" }}
  <h2 data-text="header.about"></h2>
  <img class="content__image content__image--circle float-end" src="/images/selfie.jpeg">

  <div class="content__item">
    <p data-text="about-info.main"></p>
  </div>

  <div class="content__item">
    <h3>Israel</h3>
    <p data-text="about-info.second"></p>
  </div>
{{/page}}
