{{#> page name="projects" }}
  <h2 data-text="header.projects"></h2>

  <div class="content__item content__item--flex">
    <div>
        <h3>
           <iy-github-link href="/synth">SYNTH</iy-github-link>
        </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <img class="content__image" src="/images/project-synth.png">
  </div>

  <div class="content__item">
    <p>
      <span>My github profile</span>
      -
       <iy-github-link>itamar244 (Itamar Yatom)</iy-github-link>
    </p>

    <iy-github-link href="/portfolio"><p>This website repository</p></iy-github-link>
  </div>
{{/page}}
