{{#> page name="projects" }}
  <h2 data-text="header.projects"></h2>

  <div class="content__item cards-container" data-src="/images/project-synth.png">
    <div class="card">
      <div class="card__image">
      </div>
      <h3 class="card__title">{{> github-link text="ARITHMETIC EVALUATOR" repo="/arithmetic-evaluator" }}</h3>
      <p class="card__description">
        An arithmetic expressions evaluator that became a tiny language that i built.<br/>
        <button class="card__button" id="open-ari">TRY IT</button>
      </p>
    </div>

    <div class="card">
      <div
        class="card__image"
        style="background-image: url(/images/project-synth.png)"
      ></div>
      <h3 class="card__title">
        {{> github-link text="SYNTH" repo="/synth" }}
      </h3>
      <p class="card__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>


  {{!-- <div class="content__item">
    <p>
      <span>My github profile</span>
      -
      {{> github-link text="itamar244 (Itamar Yatom)" }}
    </p>

    <p>
      {{> github-link repo="/portfolio" text="This website sources" }}
    </p>
  </div> --}}
{{/page}}

<template id="repl-template">
  <div class="repl-container">
    <div class="repl">
      <button class="repl__close">X</button>
      <div class="repl__wrapper">
        <pre class="repl__history"></pre>
        <p class="repl__input-wrapper">
          &gt;
          <input class="repl__input" type="text">
        </p>
      </div>
    </div>

    <div class="repl__background"></div>
  </div>
</template>
