{{#> page name="projects" }}
  <h2 data-text="header.projects"></h2>

  <div class="content__item">
    <h3>{{> github-link text="ARITHMETIC EVALUATOR" repo="/arithmetic-evaluator" }}</h3>
    <p>
      An arithmetic expressions evaluator that became a tiny language that i built.<br/>
    </p>
    <button id="open-ari">TRY ME</button>
  </div>

  <div class="content__item content__item--flex">
    <div>
        <h3>
           <iy-github-link href="/synth">SYNTH</iy-github-link>
        </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <img class="content__image" src="/images/project-synth.png">
  </div>

  <div class="content__item">
    <p>
      <span>My github profile</span>
      -
      {{> github-link text="itamar244 (Itamar Yatom)" }}
    </p>

    <p>
      {{> github-link repo="/portfolio" text="This website sources" }}
    </p>
  </div>
{{/page}}

<template id="repl-template">
  <div class="repl-container">
    <div class="repl">
      <button class="repl__close">X</button>
      <div class="repl__wrapper">
        <pre class="repl__history"></pre>
        <p class="repl__input-wrapper">
          &gt;
          <input class="repl__input" type="text">
        </p>
      </div>
    </div>

    <div class="repl__background"></div>
  </div>
</template>
