{{#> page name="projects" }}

  <div class="content__info">
    <h2 data-text="header.projects"></h2>
    <p>
      <span>My github profile</span>
      -
      {{> github-link text="itamar244 (Itamar Yatom)" }}
    </p>

    <p>
      {{> github-link repo="/portfolio" text="This website sources" }}
    </p>
  </div>
{{/page}}
