{{#> page name="projects" }}

  <div class="content__info">
    <h2 data-text="header.projects"></h2>
    <p>
      <span>My github profile</span>
      -
       <iy-github-link>itamar244 (Itamar Yatom)</iy-github-link>
    </p>

    <iy-github-link href="/portfolio"><p>This website repository</p></iy-github-link>
  </div>
{{/page}}
