{{#> _page name="projects" }}
  <div class="content__info">
    <h2 data-text="header.projects"></h2>
    <p>
      <span>My github profile</span>
      -
      <a href="https://github.com/itamar244">itamar244 (Itamar Yatom)</a>.
    </p>
  </div>
{{/_page}}
