@import '_variables.less';

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  @media @device-desktop {
    justify-content: space-between;
  }
}

@border: 4px solid @theme-secondary-color;

.card {
  flex: 0 0 45%;
  min-width: 300px;
  margin: 0 10px 50px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  border: @border;
  overflow: hidden;

  &__image {
    display: block;
    background-color: lighten(@theme-color, 84%);
    background-position: center;
    background-repeat: space;
    height: 240px;
    width: 100%;
    border-bottom: @border;
  }

  &__title {
    margin: 0;
    padding: 40px 20px 20px 20px;
  }

  &__description {
    margin: 0 0 20px 0;
    padding: 0 20px;
  }

  &__button {
    font-weight: bold;
    display: block;
    margin: 20px auto 0 auto;
    background: none;
    border: none;
  }
}
