@import "_mixins.less";

.content {
  font-family: "Alef";
  margin-top: 50px;
  padding: 0 20px;

  &__wrapper {
    animation: reveal 0.2s linear;
  }

  & > :first-child {
    margin-top: 0;
  }

  &__item {
    margin-top: 40px;

    &--flex {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item--flex > &__image {
    width: auto;
    max-height: 200px;
  }

  &__image {
    width: 300px;

    &--circle {
      shape-outside: circle();
      clip-path: circle();
    }
  }
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}
