@import "_mixins.less";
@import "_variables.less";

.content {
  font-family: "Alef";
  box-sizing: border-box;

  @media @device-mobile {
    padding: 40px 20px;
  }

  @media @device-desktop {
    padding-top: calc(@fixed-header-height + 50px);

    &:not(.active) {
      display: none;
    }
  }

  &__wrapper {
    animation: reveal 0.2s linear;
  }

  &__title {
    color: @theme-secondary-color;
  }

  & > :first-child {
    margin-top: 0;
  }

  &__item {
    margin-top: 40px;

    @media @device-desktop {
      &--flex {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__item--flex > &__image {
    width: auto;
    max-height: 200px;

    @media @device-desktop {
      [dir="ltr"] & {
        margin-left: 20px;
      }

      [dir="rtl"] & {
        margin-right: 20px;
      }
    }
  }

  &__image {
    width: 300px;

    &--circle {
      shape-outside: circle();
      clip-path: circle();
    }
  }
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}
