@import "_variables.less";

.logo {
  .square(inherit);
  color: @theme-secondary-color;

  &__box, &__box--inner {
    position: relative;
    border: solid @theme-line-width @theme-secondary-color;
    box-sizing: border-box;
  }

  &__box {
    display: block;
    .square(100%);
    border-radius: 10px;
    transform: rotate(45deg);
  }

  &__box--inner {
    .square(80%);
    border-left: none;
    border-top: none;
    transform: translate(14%, 14%);

    [dir="rtl"] & {
      transform: translate(-11%, 14%);
    }
  }

  &__text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 2%;
    margin: 0;
    // fix difference between "I" to "Y" in the logo position
    left: -2.5px;

    font-weight: 400;
    font-size: 52px;
  }
}
