@import "~normalize.css";
@import "_variables.less";
@import "header.less";
@import "content.less";

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-thumb {
  background-color: lighten(@theme-black, 50%);
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

#root {
  margin: 0 auto;
  max-width: 1000px;
}
