@import "~normalize.css";
@import "_mixins.less";
@import "header.less";

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

#root {
  margin: 0 auto;
  max-width: 1000px;
}

.content {
  font-family: "Alef";
  // display: flex;
  padding: 50px 20px;

  &:not(.active) {
    display: none;
  }

  &__info {
    flex-grow: 1;

    h2, h3 {
      margin: 40px 0 20px 0;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.5em;
    }


    p {
      font-size: 1.2em;
      line-height: 1.8;
    }
  }

  &__image {
    .square(300px);
    margin: 30px;
    shape-outside: circle();
    clip-path: circle();
    float: right;
  }
}
