{{#*inline "header__link"}}
  <button
    class="header__link"
    data-text="header.{{page}}"
    data-route="{{page}}"
  ></button>
{{/inline}}

{{#*inline "logo"}}
  <div class="logo" data-route="">
    <div class="logo__box">
      <div class="logo__box--inner"></div>
    </div>
    <h1 class="logo__text">IY</h1>
  </div>
{{/inline}}

<header class="header">
  {{!-- the logo is last to make it with the heighest z-index of the .header children --}}
  <div class="header__logo">
    {{> logo }}
  </div>

  <h1 class="header__title">ITAMAR YATOM</h1>

  <nav class="header__nav">
    {{> header__link page="about" }}
    {{> header__link page="projects" }}
  </nav>


  <div class="header__scroll-tip">
    <svg class="header__scroll-tip__arrow">
      <line x1="0%" x2="50%" y1="20%" y2="0%" stroke="currentColor" stroke-width="2" />
      <line x1="50%" x2="100%" y1="0%" y2="20%" stroke="currentColor" stroke-width="2" />
    </svg>
  </div>
  {{!-- <div class="header__language-selector">
    <h3 class="header__item" data-text="header.lang"></h3>

    <select>
      <option active>EN</option>
      <option>HE</option>
    </select>
  </div> --}}
</header>
