<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Itamar Yatom</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Alef:400,700|Kosugi&amp;subset=hebrew" rel="stylesheet" />
  </head>

  <body>
    {{> loading }}
    <div id="root">
      {{> header }}

      {{> pages/about }}
      {{> pages/projects }}
    </div>
  </body>
</html>
